/* line 1, ../sass/styles.scss */
html body {
  background-color: white;
}
/* line 3, ../sass/styles.scss */
html body .wl-content-card .hearted .ico {
  background-position: -320px -80px;
}
/* line 4, ../sass/styles.scss */
html body .wl-dialog {
  z-index: 0;
}
/* line 6, ../sass/styles.scss */
html body .wl-dialog .ui-dialog {
  z-index: 0;
}
/* line 9, ../sass/styles.scss */
html body .wl-application-footer {
  padding: 5em 3em;
}
/* line 12, ../sass/styles.scss */
html body .wl-application-footer .newsletter {
  margin: 0 auto;
  width: 50%;
}
/* line 15, ../sass/styles.scss */
html body .wl-application-footer .newsletter .newsletter--background {
  background: #F6F4F2;
}
/* line 16, ../sass/styles.scss */
html body .wl-application-footer .newsletter .wl-htb-x--decor {
  padding-bottom: 1px;
}
/* line 17, ../sass/styles.scss */
html body .wl-application-footer .newsletter .bird {
  margin-left: 0px;
}
/* line 21, ../sass/styles.scss */
html body .wl-page-wrap {
  width: auto;
}
/* line 25, ../sass/styles.scss */
html body #footer-container {
  padding-top: 1px;
  min-width: 0px;
  background: url("http://www.freepeople.com/resources/_shared/images/backgrounds/border-50.png");
}
/* line 30, ../sass/styles.scss */
html body #footer-container .bg {
  background: #f6f4f2;
}
/* line 35, ../sass/styles.scss */
html body .wl-dialog--ht .ui-dialog {
  background: none;
}
/* line 36, ../sass/styles.scss */
html body .wl-dialog--ht .ui-dialog-content {
  box-shadow: none;
}
/* line 39, ../sass/styles.scss */
html body .wl-dialog--ht--fpme {
  padding: 0px 0px 50px 0px;
  background: #fff;
}
/* line 44, ../sass/styles.scss */
html body .wl-product-fpme {
  margin-top: 52px;
}
/* line 46, ../sass/styles.scss */
html body .wl-product-fpme .fpme-section-pics {
  margin: 0px 50px;
}
/* line 47, ../sass/styles.scss */
html body .wl-product-fpme .fpme-preview-section .wl-content-card, html body .wl-product-fpme .fpme-empty {
  float: none;
  display: inline-block;
}
/* line 50, ../sass/styles.scss */
html body .wl-product-fpme .fpme-section-pics {
  margin: 0px 50px;
}
/* line 53, ../sass/styles.scss */
html body .wl-product-fpme .content {
  text-align: center;
}
/* line 54, ../sass/styles.scss */
html body .wl-product-fpme .body-inner {
  width: 100%;
}
/* line 59, ../sass/styles.scss */
html body .wl-product-fpme .fpme-section-body {
  display: inline-block;
}
/* line 62, ../sass/styles.scss */
html body .wl-product-fpme .fpme-section-body .fpme-preview-section {
  width: inherit;
}
/* line 65, ../sass/styles.scss */
html body .wl-application-footer {
  margin: 0 auto;
  background: url("http://dev-us.freepeople.com/pushNotifications/pushNotifications/pushNotifications/images/resources/_shared/images/backgrounds/border-50.png");
}
/* line 68, ../sass/styles.scss */
html body .wl-application-footer .content {
  margin: 1px;
  background: white;
}

@media screen and (max-width: 960px) {
  /* line 79, ../sass/styles.scss */
  html body .wl-application-footer .newsletter {
    width: 80%;
  }
  /* line 80, ../sass/styles.scss */
  html body .wl-product-preview--quickview .media .img-options {
    width: 100%;
  }
  /* line 83, ../sass/styles.scss */
  html body .wl-page-decor--3 {
    background-image: none;
  }
  /* line 84, ../sass/styles.scss */
  html body .wl-product-preview--quickview .media {
    padding-right: 0px;
  }
  /* line 87, ../sass/styles.scss */
  html body .wl-product-preview--quickview .media .img-options {
    position: static;
  }
  /* line 90, ../sass/styles.scss */
  html body .wl-product-preview--quickview .media .img-options .option {
    display: block;
    float: left;
    width: 53px;
    margin-left: 0px;
  }
}
/* line 101, ../sass/styles.scss */
.wl-product-details .description.is-active + .form {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  /* line 106, ../sass/styles.scss */
  html body .wl-application-banner .nav .node--currency.node {
    display: none;
  }
  /* line 107, ../sass/styles.scss */
  html body .wl-application-banner .nav .node--flag.node {
    display: none;
  }
  /* line 108, ../sass/styles.scss */
  html body .wl-application-banner .nav .node--hearts.node {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  /* line 114, ../sass/styles.scss */
  html body .wl-product-preview--quickview .media .img-options .option {
    width: 40px;
  }
}
